.register
{
    height: calc(100vh - 50px);
    display:flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.4),
    rgba(255,255,255,0.4)),url("https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size:cover;
}
.registerTitle
{
    font-size:50px;
}
.registerform
{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    width:250px;

}
.registerform > label{
margin: 10px 0;
}
.registerInput
{
    padding: 10px;
    background-color:white;
    border:none;
}
.registerbutton
{
    margin-top: 20px;
    background-color: royalblue;
    color:white;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    width:200px;
    height: 30px;
    align-items: center;
   justify-content: center;
   margin-left:25px;
}
.loginbuttonR
{
    /* position:absolute;
    top:80px;
    right:20px; */
    background-color: rgb(6, 154, 154);
    margin-top: 20px;
    cursor:pointer;
    border:none;
    color:white;
    padding:2px;
    border-radius:15px;
    font-weight: bold;
    align-items: center;
    height:35px;
    width:100px;
}